html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: 'Roboto', sans-serif
}

html {
  position: relative;
  min-height: 100%;
}
body {
  color:#777777;
  background-color: gainsboro;
 }

 h1 {
  text-align: center;
}
.navbar-header {
  color: #4aaaa5;
  background: #ffffff;
}

.nav.inline-navbar>li{
  display: inline-block;
}

.nav{
    text-align: center;
}

.navbar{
    background-color: beige;
}

.navbar-header{ background-color:  #4aaaa5;
    height: 60px; 
    padding: 25px; 
}

.navbar-brand {
   text-align: center;
   left: auto; 
   float: none;  
   font-size: 25px; 
   margin-top: 20px;
   text-align: center;
   padding: 10px;
}

#header {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
}

.row {
  color: #777777;

}



#span1 {
    padding-top: 15px;
    line-height: 3;
}


#submit {
  margin-bottom: 5px;
}

footer {
  text-align: center;
  background: #666666;
  height: 50px;
  padding: 10px;
  margin-bottom: -50px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.text-muted {
  color:whitesmoke;
  padding: 10px;
}



